IMAGE_TAG=1.0.0

DB_NAME=accounts
DB_USER=vprofile
DB_PASSWORD=replace_with_a_strong_password
DB_ROOT_PASSWORD=replace_with_a_different_strong_password

RABBITMQ_USER=vprofile
RABBITMQ_PASSWORD=replace_with_a_strong_password
